:root {
  --bg: #fafafa;
  --white: #ffffff;
  --border: #f3f2ee;
  --text: #272228;
  --category: #2c725b;;
}

.uppercase {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;;
}

body {
  background-color: var(--bg);
  margin: 40px 50px;
  font-family: 'Open Sans', sans-serif;
  color: var(--text);
}

.container {
  width: 100%;
  max-width: 1440px;
  background-color: var(--bg);
}

.events {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
}

.event {
  background-color: var(--white);
  border: 1px solid var(--border);
  display: grid;
}

.event--large-img {
  grid-template-columns: 1.05fr 1fr;
}

.event--large-img > * {
}

.event__image--bg {
  background-size: cover;
}

.event__card {
  padding: 20px 20px 15px;
  display: grid;
  align-items: start;
}

.event__title {
  font-weight: 600;
}

.event__category {
  color: var(--category);
  text-transform: uppercase;
  font-weight: 600;
}

.event__details {
  align-self: end;
}

.event__image {
  margin: 0;
  padding: 0;
}